*{
    box-sizing: border-box;

}

.grid{
    display: grid;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

  .product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
  }

  .product-container > div {
    margin: 1rem;
    margin-bottom: 3%;
    margin-top: 3%;
}

.producta a{
  background-color: white;
  text-decoration: none;
}

.product-container img {
  margin-left: -40px;
}

.product-container img:hover {
  transition-duration: 1s;
  
  box-shadow: 0px 0px 20px 10px #26262633;
  
}


  @media screen and (max-width: 120rem){
    .grid-container{
    background-color: #E35D73;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-flow: row;

      text-align: center;
      grid-gap: 2rem;
      padding: 1rem;
      margin-bottom: 20px;
    
    
    }
  }


  @media (max-width: 800px) {
    .col-25 {
      margin-bottom: 20px;
    }
  }